    <% layout('/boilerplate.ejs')%>
    <div class="card col-md-8 offset-2">
        <div class="row text-center">
            <h1><%=singleCamp.title%></h1>
            <h2><%=singleCamp.location%></h2>
        </div>
        <img src="<%= singleCamp.image%>" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Description</h5>
          <p class="card-text"><%=singleCamp.description %></p>
          <h5 class="card-title">Price</h5>
          <p class="card-text"><%=singleCamp.price %>₹</p>
          <div class="mb-3">
            <a href="/yelpcamp/<%=singleCamp._id%>/edit" class="btn btn-primary">Edit</a>
          </div>
          <div class="mb-3">
            <form action="/yelpcamp/<%=singleCamp._id%>?_method=DELETE" method="post">
                <button class="btn-danger">DELETE</button>
            </form>
          </div>
          <div class="mb-3">
            <a href=/yelpcamp class="btn btn-success">BACK</a>
          </div>
        </div>
      </div>

    
    